button {
  height: 50px;
  margin: 5px;
  border-color: transparent;
  border-radius: 1em;
  background: lightblue;
}
button:focus {
  background: lightskyblue;
  font-weight: bold;
  outline: none;
  border-color: orange;
}
